.body{
    background-color: rgb(37, 36, 36);
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.intro{
    text-align: center;
    color: #8dc73e;
    font-size: 25px;
}

.login{
  font-size: 14px;
  color: #fec221;
}

.deploy {
    padding-bottom: 20px;
    position: fixed;
    width: 600px;
    height: 200px;
    margin: 2% auto;
    left: 0;
    right: 0;
}

.btn {
    margin-top: 10mm;
    background-color: #8dc73e;
    text-align: center;
    display: inline-block;
    padding: 10px 25px;
    border: none;
    right: 50%;
    color: rgb(37, 36, 36);
    text-decoration: none;
}

.form-group{
    margin-top: 7mm;
    text-align: center;
}

.selector{
    padding-top: 10px;
    padding-bottom: 15px;
    color: silver;
}

.form-control{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.mama-logo{
    margin-top: 3%;
    text-align: center;
}

.page-footer {
  color: white;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.alert-danger {
  margin-top: 25px;
  background-color: #dd5c52;
  color: white;
  border-style: none
}

.alert-success {
  margin-top: 25px;
  background-color: #8dc73e;
  color: white;
  border-style: none
}

.sucess-text {
  color: white;  
}

.error-text {
  color: white;
  padding-top: 10px;  
}

.loader {
  margin-top: 25px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #8dc73e;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: inline-block;
  animation: spin 2s linear infinite;
}

.loader-text {
  color: silver;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}